name: test
on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      fail-fast: false
      matrix:
        otp: ["25.1", "24.3.4"]
        elixir: ["1.14.0", "1.13.4"]
    env:
      MIX_ENV: test
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - name: Cache (Dialyzer PLT)
        uses: actions/cache@v2
        with:
          path: |
            _build/*/*.plt
            _build/*/*.plt.hash
          key: ${{matrix.otp}}-${{matrix.elixir}}

      - run: mix deps.get
      - run: mix format --check-formatted

      - name: Dialyzer (dev)
        run: mix dialyzer
      - name: Dialyzer (test)
        run: mix dialyzer
        env:
          MIX_ENV: test

      - run: mix coveralls.github
